<div class="signUp">
    <div class="layout">
        <div class="form">
            <h1>{{title}}</h1>

            <form>
                <div>{{{inputLogin}}}</div>
                <div>{{{inputMail}}}</div>
                <div>{{{inputName}}}</div>
                <div>{{{inputSurname}}}</div>
                <div>{{{inputPassword}}}</div>
                <div class="wrong">{{{inputWrong}}}</div>
            </form>
            <div>{{{btn}}}</div>

        </div>
    </div>
</div>
